@using ClientDependency.Core.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Buildscreen</title>
    <base href="/">
    @{ Html.RequiresCssFolder("~/Content/"); }
    @Html.RenderCssHere()
</head>
<body>
    <div ng-app="BuildScreenApp">
        <div id="container-for-menu" class="container-for-menu" ng-cloak>
            <div class="pusher">
                <div class="page-content">
                    <div class="page-content-inner">
                        <div ng-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   @{ Html.RequiresJs("~/Scripts/angular.min.js", 1)
           .RequiresJs("~/Scripts/angular-animate.min.js", 1)
           .RequiresJs("~/Scripts/angular-route.min.js", 1)
           .RequiresJs("~/Scripts/angular-resource.min.js", 1)
           .RequiresJs("~/Scripts/angular-touch.min.js", 1)
           .RequiresJs("~/Scripts/ngDialog.min.js", 1)
           .RequiresJs("~/Scripts/ng-tags-input.min.js", 1)

           .RequiresJs("~/Scripts/isotope.pkgd.min.js", 1)
           .RequiresJs("~/Scripts/packery-mode.pkgd.js", 1)
           .RequiresJs("~/Scripts/moment.min.js", 1)
           .RequiresJs("~/Scripts/aes.js", 1)
           .RequiresJsFolder("~/Scripts/App/Filters/", 1)
           .RequiresJs("~/Scripts/App/BuildScreenApp.js", 2)
           .RequiresJsFolder("~/Scripts/App/Controllers/", 3)
           .RequiresJsFolder("~/Scripts/App/Directives/", 3)
           .RequiresJsFolder("~/Scripts/App/Services/", 3)
          ;}
    @Html.RenderJsHere()
</body>
</html>
