<div ng-app="BuildScreenApp">
    <div id="container-for-menu" class="container-for-menu" ng-cloak>
        <div class="pusher">
            <div class="page-content">
                <div class="page-content-inner">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
