<div class="item box wrapper" ng-class="[build.status]">
    <div ng-if="build.totalNumberOfTests > 0" class="ribbon"><span>{{build.passedNumberOfTests}}/{{build.totalNumberOfTests}}</span></div>
    <span id="dateFilter" data-date="{{build.startBuildDateTime}}" /> <!--This is because of Isotope/Angular compatibility problem-->
    <div class="aspect-content">
        <a href="{{build.buildReportUrl}}" target="_blank">
            <p class="item-title" title="{{build.buildDefinition}}">{{build.buildDefinition | titleFilter:18}}</p>
        </a>
        <p class="item-subtitle" title="{{build.repoName}}">{{build.repoName | titleFilter:25}}</p>
        <div class="itemcontent">
            <p ng-if="build.status !== 'inProgress' && build.status !== 'notStarted'">
                Built
                <span title="{{build.finishBuildDateTime | date:'dd-MM-yyyy HH:mm'}}" time-since="{{build.finishBuildDateTime}}"></span>
            </p>
            <p ng-if="build.status === 'inProgress'">
                Started <span title="{{build.startBuildDateTime | date:'dd-MM-yyyy HH:mm'}}" time-since="{{build.startBuildDateTime}}"></span>
            </p>
            <p>
                by <span>{{build.requestedByName | titleFilter:20}}</span>
            </p>
            <p class="branch-name">
                {{build.branch | titleFilter:30}}
            </p>
        </div>
        <div class="avatar">
            <img no-avatar ng-src="{{build.requestedByPictureUrl}}" alt="avatar"/>
        </div>
    </div>
</div>